.container-fluid
	.row
		#about.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			.page-header
				h2=data.title
			each par, index in data.body
				p!=par.txt? par.txt.replace(/ /g,'&nbsp&nbsp') : par.replace(/ /g,'&nbsp&nbsp')