doctype html
html
	head
		title 马里亚纳海沟计划
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='../styles/css/bootstrap.yeti.min.css')
		//link(rel='stylesheet' href='https://cdn.jsdelivr.net/bootswatch/3.3.6/yeti/bootstrap.min.css')
		link(rel='stylesheet' href='../styles/app.css')
		block more_style
	body
		header#header
			nav.navbar.navbar-default.navbar-fixed-top
				.no-side-boundry.row
					.no-side-boundry.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
						.navbar-header
							button.navbar-toggle.collapsed.navbar-left(type='button' data-toggle="collapse" data-target="#navco" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.navbar-brand(onclick="window.location='/'") 马里亚纳海沟计划
						#navco.collapse.navbar-collapse
							ul.nav.navbar-nav
								li
									a.navbar-link.a_nav(data-type='news') 新闻进展
								li
									a.navbar-link.a_nav(data-type='mtin') 会议安排
								li
									a.navbar-link.a_nav(data-type='data') 资源下载
								li
									a.navbar-link.a_nav(data-type='refe') 参考文献
								li
									a.navbar-link.a_nav(data-type='staff') 人员名单
								li
									a.navbar-link.a_nav(data-type='about') 关于
							ul.nav.navbar-nav.navbar-right
								li
									a.navbar-link.login_entry(data-toggle='modal' data-target='#ldlog') 登录
								li
									a.navbar-link#upload_entry(onclick="window.location='/upload'")
								li
									a.navbar-link#log_out
		#ldlog.modal.fade(tabindex='-1' role='dialog')
			.modal-dialog.modal-sm(role='document')
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal' aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						input#login_username.login_input.form-control(type="text" value="UserName" autofocus)
						input#login_password.login_input.form-control(type="text" value="Password")
					.modal-foot
						button#login_submit.btn.btn-primary(type='button') Login
		block main
		block scripts
			script(src='//code.jquery.com/jquery-2.1.4.min.js')
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
			script(src='../scripts/js.cookie.js')
			script(src='../scripts/core.js')
		//include footer