.page-header
	h2 会议通知
include pager
.ui.list.divided
	each doc in data
		.item
			h3
				a(onclick='showDetail("'+doc._id+'")')= doc.title
			.meta
				a=doc.date
			div!= doc.body.substring(0, doc.body.indexOf('</p>') + 4)
include pager