.container-fluid
	.row
		.article.no-side-boundry.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			.row
				.col-xs-12.col-sm-12.col-md-5.col-lg-4
					h3 新闻及最新进展
				include pager
			.container-fluid
				each doc in data
						.no-side-boundry.panel.panel-primary
							.panel-heading
								a.panel-title(onclick='showDetail("'+doc._id+'")')= doc.title
							.no-side-boundry.panel-body
								img.news-img.col-xs-12.col-md-6(onclick='showDetail("'+doc._id+'")' src=doc.img.length ? '../' + doc.img[0].src : '')
								if doc.body.length
									p.col-xs-0.col-sm-0.col-md-6!=doc.body[0].txt? doc.body[0].txt.replace(/ /g,'&nbsp') : doc.body[0].replace(/ /g,'&nbsp&nbsp')