.page-header
	h2 新闻及最新进展
include pager
.ui.items.divided
	each doc in data
		.item
			.ui.image.medium
				img.cursor-pointer.col-xs-12.col-md-6(onclick='showDetail("'+doc._id+'")' src= doc.cover)
			.content
				.header.cursor-pointer(onclick='showDetail("'+doc._id+'")')= doc.title
				.meta
					span=doc.date
					span=doc.source
				.description
					div!= doc.body ? doc.body.substring(doc.body.indexOf('>')+1, doc.body.indexOf('</p>')) : ''
include pager