.page-header
	h2 参考文献
each doc, index in data
	p
		-var refesq = doc.serl ? doc.serl : index
		label.refesq= '[' + refesq + ']'
		a.refelink(id= index href= doc.path ? doc.path : '' download= doc.name title= doc.name)= doc.title