body{
  background: black;
}
.log-text{
  font-size: 15px;
  color:lightgray;
}
.log-level{
  font-weight: bold;
}
.log-level-error{
  color:red;
}
.log-level-info{
  color: green;
}
.log-date{
  color:blue;
}
.log-error{
  color:red;
}
