

#d_title {
    font-size: 26px;
    text-align: center;
    padding: auto;
}

#d_subt {
    margin: auto;
}

#d_date,
#d_source {
    font-size: 13px;
}

.d_body {
    font-size: 15px;
    line-height: 150%;
}



.d_img {
    width: 100%;
}

.d_figcap {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

#modify {
    position: relative;
    display:none;
    top: 0px;
    left: 40px;
}

.modify {
    font-size: 16px;
    margin-left: 6px;
    color: #4B6683;
    padding: 0px 6px 0px 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #4B6683;
    display: inline-block;
}
.modify:hover {
    color: white;
    font-style: bold;
    cursor: pointer;
    background-color: #4B6683;
}
