#div_add {
    position: fixed;
    bottom: 0px;
    width: 120px;
    float: left;
    padding: 10px 0 10px 20px;
}

#frm_upload {
    max-width: 960px;
    min-width: 720px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px 0px rgba(81, 81, 81, 0.4);
    background-color: white;
    color:black;
}

.input_label {
    width: 80px;
    float: left;
}

.upload_text {
    font-size: 14px;
    position: relative;
}

.upload_text,
.image_box {
    width: 90%;
    padding: 2px 2px 2px 2px;
}
input, textarea{
    font-style: italic;
    color: gray;
}
.div_content,
#ul_title {
    padding: 5px 5px 10px 20px;
}

#type_src {
    display: inline-block;
    position: relative;
    left: 200px;
    font-size: 13px;
}

.type_src {
    margin: 4px 5px 2px 5px;
}

.div_content {
    min-height: 60px;
}

textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    top: 8px;
}

#source,
#date {
    margin-left: 10px;
}
#date {
    width: 140px;
}


#submit{
    width: 28px;
    height: 28px;
    position: relative;
    top:6px;
    margin-left:2px;
    margin-right:8px;
}


.adjust_pos {
    width: 24px;
    height: 50px;
    float: left;
    margin-right: 4px;
    margin-top: 2px;
}

.bt_move {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
    float: left;
    border-style: none;
    border-width: 1px;
    cursor: pointer;
}

.bt_add {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}



#title {
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}

input,
select,
textarea {
    border-style: none;
    border-bottom: solid;
    border-color: lightgray;
    border-width: 1px;
}

#ul_add {
    padding: 8px 0px 0px 12px;
    position: relative;
}

.left_align_assis {
    display: inline-block;
    width: 24px;
    height: 20px;
    border-style: none;
    margin-right: 4px;
}

.image_preview {
    position: relative;
    width: 80%;
    top: 0px;
    z-index: 0;
    resize: both;
    max-width: 620px;
    max-height: 720px;
}

.upload_textarea {
    font-size: 15px;
    line-height: 150%;
}

.image_box {
    min-height: 200px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    text-align: center;
    border-style: dotted;
    border-width: 1px;
}

.upload_img {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 10;
    margin: auto;
    cursor: pointer;
}

.upload_att {
    width: 810px;
    height: 40px;
    position: relative;
    top: -30px;
    left: -4px;
    opacity: 0;
    z-index: 10;
    margin: auto;
    cursor: pointer;
}

.image_label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#ul_att {
    border-top: 1px dotted gray;
}

.att_label {
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    position: relative;
    background-color: #bdc3c7;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ecf0f1;
    width: 810px;
    left: 0px;
    top: 10px;
    left: 26px;
    right: 0;
    bottom: 0;
    margin-left: 0px;
    text-align: center;
}

.caption {
    font-size: 14px;
    width: 460px;
    position: relative;
    text-align: center;
    left: 0px;
    top: 0px;
    resize: none;
}

.invisible {
    z-index: -99;
    opacity: 0;
    position: absolute;
    top: -999px;
}
.progress{
    width: 100%;
}

#user_guide {
    width: 856px;
    position: relative;
    margin: auto;
    top: 24px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
}

.tips {
    display: block;
}

.tiplabel {
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.insrow {
    height: 22px;
    padding-left: 40px;
}

.tipimg {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.instruction {
    display: inline-block;
    font-size: 14px;
    line-height: 140%;
    margin: 3px;
    padding-left: 20px;
}
.adjust_font{
    width: 90%;
    display: block;
    padding: 0px 5px 0px 0px;
    position:relative;
    top:10px;
    left:24px;
}
.bt_font{
    width:  16px;
    height:14px;
    position:relative;
    margin-right:6px;
    top:0px;
    cursor: pointer;
}
.select_fs{
    font-size: 14px;
    position:relative;
    margin-right:10px;
}